body {
    background-color: #ffffff;
}
.content-wrapper {
    padding-top: 105px;
    background-color: #ffffff;
}
.footer {
    background-color: #fbfbfb;
}
.btn-inverse-light:hover {
    border:1px solid #a2a2a2;
    color: #333333;
}
.btn {
    border:1px solid #a2a2a2;
}
.bar-progress .btn-active {
    background-color: #8e6f39;
    border-color: #8e6f39;
}
.btn-active {
    background-color: #eec335;
    border-color: #eec335;
    color: #313131;
    font-weight: bold;
}
.btn-error {
    /*background-color: #f55f60;*/
    /*border-color: #f55f60;*/
    animation: blinker 1s linear infinite;
}
.btn-rounded.btn-icon {
    line-height: 44px;
}
.btn.btn-icon {

    width: 48px;
    height: 48px;
}
.level.interactive {
    padding: 10px 8px;
}
.resizable-textarea .grippie {
    display: none;
}
.default-text {
    text-decoration: none;
    color: #4d4d4d;
}
.default-text:hover {
    color: #4d4d4d;
    text-decoration: none;
}
.text-attr.btn-active {
    background-color: transparent;
    border-color: transparent;
}
.error-btn.btn-active {
    background-color: #f37a81;
    border-color: #f37a81;
}
.brand-logo-mini {
    color: #ffffff;
}
.form-text {
    height: 35px;
    margin-right: 0;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #444444;
}
.form-text:focus {
    border: 1px solid #444444;
}
.description {
    margin-top: 15px;
}
.auth-form-light {
    color: #444444;
}
.auth-form-light h4
{
    color: #222222;
    font-size: 20px;
}
.auth-form-light .form-submit {
    padding: 10px 40px;
    border-radius: 0;
    margin-top: 15px;
}
.mytooltip{
    position: absolute;
    z-index: 999;
    left: 30px;
    background-color: #f2f2f2;
    border: 1px solid #fff;
    width: 250px;
    color: #222;
    font-size: 11px;
    padding: 10px;
}
.mytooltip p{
    margin:0;
    color:#fff;
    background-color:#222;
    padding:2px 7px;
}
p.small {
    font-size: 10px;
}
.card-body {
    background-color: #ffffff;
}
.ymaps-layers-pane {
    -webkit-filter: grayscale(100%);
}
.bar-progress {
    margin-top: 20px;
    height: 90%;
    background-color: #f8f8f9;
    border:1px solid #a2a2a2;
    display: block;
    width: 30px;
}
.bar-progress .bar25 {
    height: 25%;
    display: block;
}
.bar-level .btn-active {
    background-color: #8ea0a1;
}
.vertical-progress .progress-bar{
    position:absolute;top:20%; width: 30px;height: 80%;

}
.mg-b-20 {
    margin-bottom: 20px;
}
.mg-b-50 {
    margin-bottom: 50px;
}
#core-unit-switch-form .btn {
    display: none;
}
#basic_wrapper .row {
    width: 100%;
}
#journal_wrapper .row {
    width: 100%;
}
#event-body.hidden {
    display: none;
}
#event-body button.hidden {
    display: none;
}
.dataTables_length {
    display: none;
}
.blink_error {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: #c9322f;
        border-color: #c9322f;
        color: #ffffff;
    }
}
#table-daily td {
    padding: 5px 15px;
    text-align: center;
}
#table-daily td.active {
    background-color: #3ea662;
    color: #ffffff;
}
#table-daily td.active.total {
    background-color: #ffffff;
    color: #222222;
}
#table-daily td.active.total a {
    color: #222222;
}
#table-daily td.active a {
    color: #ffffff;
}
#table-daily a {
    text-decoration: none;
    color: #222222;
}
#calendar-select {
    width: 400px;
}
#calendar-select .form-type-date {
    float: left;
    margin-right: 30px;
}
table#table-daily {
    overflow: hidden;
}
